
      <mat-card class="card">
        <div>
          <span
            *ngFor="let category of item.categories"
            class="badge"
            [ngStyle]="{ 'background-color': category.css_color }"
          >
            {{ category.title }}
          </span>
        </div>
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
      <mat-list role="list">
        <mat-list-item role="listitem">Likes: {{ item.num_likes }}</mat-list-item>
        <mat-list-item role="listitem">Dislikes: {{ item.num_dislikes }}</mat-list-item>
        <mat-list-item role="listitem">Publication date: {{ item.publication_date }}</mat-list-item>
        <mat-list-item role="listitem">Published by: {{ item.userAlias }}</mat-list-item>
      </mat-list>
      <mat-divider *ngIf="showButtons"></mat-divider>
    </mat-card-content>
    <mat-card-actions *ngIf="showButtons">
      <button mat-button (click)="like(item.postId)">Like</button>
      <button mat-button (click)="dislike(item.postId)">Dislike</button>
    </mat-card-actions>
  </mat-card>

