<!--
  <div style="margin-left: auto; margin-right: auto">
    <p id="loginFeedback"></p>
  </div>
  <div>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="email">Email: </label>
        <input type="email" [formControl]="email" />
      </div>

      <div>
        <label for="password">Password: </label>
        <input type="password" [formControl]="password" />
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>

  <div *ngIf="email.errors">
    <span
      style="color: red"
      *ngIf="email.errors && (email.touched || email.dirty)"
    >
      <span *ngIf="email.errors.required">Email is required</span>
      <div *ngIf="email.errors.pattern">Email not a valid format.</div>
    </span>
  </div>

  <div *ngIf="password.errors">
    <span
      style="color: red"
      *ngIf="password.errors && (password.touched || password.dirty)"
    >
      <span *ngIf="password.errors.required">Password is required</span>
      <span *ngIf="password.errors.minlength"
        >Password must be greater tha 8 characters</span
      >
      <span *ngIf="password.errors.maxlength"
        >Password can be max 16 characters long</span
      >
    </span>
  </div>
-->



<div class="container">

  <div style="margin-left: auto; margin-right: auto">
    <p id="loginFeedback"></p>
  </div>

  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" [formControl]="email" required placeholder="Ex. user@example.com"/>
        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
          Email not a valid format
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" [formControl]="password" required />
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Password must be greater than 8 characters
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('required')">
          Password can be max 16 characters long
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </section>

  </form>
</div>