<!--
<h2>Post List</h2>
<button (click)="createPost()">ADD</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>NUM LIKES</th>
      <th>NUM DISLIKES</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.postId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.num_likes }}</td>
      <td>{{ post.num_dislikes }}</td>

      <td>
        <button (click)="updatePost(post.postId)">UPDATE</button>
        <button (click)="deletePost(post.postId)">DELETE</button>
      </td>
    </tr>
  </tbody>
</table>
-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<h2>Post List</h2>
<button mat-raised-button color="primary" (click)="createPost()">ADD</button>

<table mat-table [dataSource]="posts">
  <ng-container matColumnDef="postId">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let post">{{ post.postId }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>TITLE</th>
    <td mat-cell *matCellDef="let post">{{ post.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
    <td mat-cell *matCellDef="let post">{{ post.description }}</td>
  </ng-container>

  <ng-container matColumnDef="num_likes">
    <th mat-header-cell *matHeaderCellDef>NUM LIKES</th>
    <td mat-cell *matCellDef="let post">{{ post.num_likes }}</td>
  </ng-container>

  <ng-container matColumnDef="num_dislikes">
    <th mat-header-cell *matHeaderCellDef>NUM DISLIKES</th>
    <td mat-cell *matCellDef="let post">{{ post.num_dislikes }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
    <td mat-cell *matCellDef="let post">
      <button mat-icon-button color="primary" (click)="updatePost(post.postId)" aria-label="Icon button for editing a category">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deletePost(post.postId)" aria-label="Icon button for delete category">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



